CODEBASESCAN_DATA_DIR=.codebasescan
CODEBASESCAN_PORT=3000
CODEBASESCAN_SEMGREP=false
CODEBASESCAN_GITLEAKS=false
CODEBASESCAN_OSV=false
CODEBASESCAN_OSV_CACHE_HOURS=24
CODEBASESCAN_ADVISORY_DB=.codebasescan/advisory-database.json
NEXT_TELEMETRY_DISABLED=1
