TRACEWARD_DATA_DIR=.traceward
TRACEWARD_PORT=3000
TRACEWARD_AI=disabled
OLLAMA_MODEL=
TRACEWARD_SEMGREP=false
TRACEWARD_GITLEAKS=false
NEXT_TELEMETRY_DISABLED=1
LANGSMITH_TRACING=false
LANGCHAIN_TRACING_V2=false
